<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
        link(rel="stylesheet", href="/styles/home.css")
        title B'day
    body

    div(class='eventHead')
        h1  Upcoming Events
    - const eventList = events
    div(class='centerPaper wrapper')
        //- div(class='content')
        each val in eventList
            p=`${val.name} : ${val.event_name}`
                
            //- div(class='events')

            //-     h2 Hey, there save the events here
            //-     i(class="fas fa-angle-down")
    //- div(class='downAngle')
    //-     i(class="fas fa-angle-down")

    div(class='addEventReminder')
        form(action="/", method="post")
            label(for="name") Name :
            input(name='name', type='text', placeholder='Name')
            label(for="EventName") Event :
            input(name="event", type='text', placeholder='Event Name')
            label(for = "date") Date :
            input(name='date', type='text', placeholder='yyyy-mm-dd')
            button(type="submit")
    script(src="/scripts/home.js")